{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/cabin_query.css' %}">
    <title>Search Cabin</title>
</head>
<body style="background-color: #dde3d3">

<section class="search_result bottom-space-1 center">
    <div>
        <h3>Cabins History</h3>
    </div>
</section>
<section class="table-sec bottom-space">
    <table class="table table-hover table-dark" border="1">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">User Id</th>
            <th scope="col">Cabin Id</th>
             <th scope="col">Entry Date (yyyy-mm-dd)</th>
            <th scope="col">Exit Date (yyyy-mm-dd)</th>
          <!--  <th scope="col">USer Type</th> -->
        </tr>
        </thead>

        {% for d in cbh %}
            <tr>
            <td>{{ d.id }}</td>
            <td>{{ d.user_id }}</td>
            <td>{{ d.cabin_id }}</td>
            <td>{{ d.entry_date }}</td>
            <td>{{ d.exit_date }}</td>
        <!--    <td>{{ d.user_type }}</td> -->
            </tr>
        {% endfor %}
    </table>
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>
