{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <title>Appointment Failed</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <link rel="stylesheet" href="{% static 'css/AddSchedule.css' %}">
</head>

<!------ Include the above in your HEAD tag ---------->

<body>

    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">
                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h1>Appointment Failed</h1>
                        </div>
                        <div>
                            <a href="{% url 'go_to_your_home' %}"><h1>Go to home</h1></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
